a {
    text-decoration: none;
    list-style: none;
}
.container1{
    width: auto;
    background: #FFFFFF;
    height: 142px;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); 
 }

#logo_mnit{
    width: 82px;
    height: 82px;

}
#logo_ti{
    width: 74px; 
    height: 84px;
  
}
#heading1{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 31px;
/* identical to box height */

text-transform: uppercase;
color: #F58220;
}
#heading2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    /* identical to box height */
    
    text-transform: uppercase;
    color: #F58220;
}
/* .heading_2{
    
} */
.background_img2{
    display: inline;
}
#heading_3{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 131.5%;
/* identical to box height, or 66px */

text-align: center;

color: #F58220;
width: 758px;
height: 66px;
}
#img_back1{
    width: 100%;
}
.icons{
   margin-left: 10px;
   margin-right: 10px;
 
}
 .center{
    padding-top: 15px;
  
 }
 .para_about{
     padding-top: 50px;
 }
 .para{
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(74, 74, 74, 0.15);
    border-radius: 23px;
    padding:10px 20px;
    
 }
 #para1{
     padding: 25px 25px;
 }
 #para_img{
    width: 408px;
    height: 322px;
    
    padding-top: 25px;
 }
 #announcement1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 131.5%;
    /* identical to box height, or 46px */
    
    text-align: center;
    
    color: #F58220;
 }
 #announcement2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 131.5%;
    /* identical to box height, or 46px */
    
    text-align: center;
    
    color: #F58220;
 }
 .vl {
    border-left: 2px solid #FFFFFF;
    height: 300px;
    text-align: right;
  }
 .img1{
     position: flex;
     
     align-items: center;
 }
 .imagesofperson{
     display: flex;
     
     align-items: center;
     flex-direction: row ;
 margin: auto;;
    }
.subtext{
    margin: 0;
}
.img_div{
    display: flex;
    justify-content: center;
}
.mainblock{

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:560px) {
    #heading1{
        display: none;
    }
    #heading2{
        display: none;
    }
}
@media screen and (max-width:750px){
    .mainblock{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:1200px) {
.para_about{
    display: flex;
    justify-content: center;
}
    .parimg{
        display: flex;
        justify-content: center;
    }
    .para{
        margin-top: 15px;
    }
}
@media screen and (max-width:484px) {
.announcement{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
}
.announcement{
    display: flex;
    justify-content: center;
}

.container_menu {
    display: inline-block;
    cursor: pointer;
  }

  .menu{
      height: 100vh;
      width: 320px;
      background-color: #2D0808;
      position: fixed;
      top: 35px;
      z-index: 100;
      right: -320px;
    transition: width 100s ease;
    

  }
  .menubtn{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 27px;
      position: absolute;
      top: 25px;
      left: -50px;
      
  }
  .menubtn span:nth-child(2){
      width: 30px;
  }
  .menubtn:hover span:nth-child(odd){
      width: 30px;
  }
  .menubtn:hover span:nth-child(2){
      width: 40px;
  }


  .menubtn span{
      height: 5px;
      width: 40px;
      background-color: #FF7500;
      border-radius: 20px ;
      transition: width 0.5s;
      cursor: pointer;
  } 
  .nav2{
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column ;
     justify-content: center;
     align-items: center;
     opacity: 0.8;
     transition: width 0.5s ease;

  }
  @media screen and (max-width:415px) {
      .menu{
          width:100%;
      }
      
  }
  .nav2 ul{
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  .nav2 ul li{
      padding: 10px;
  }
  .nav2 ul li a{
      text-decoration: none;
      color: #fff;
  }
  .nav2 ul li a:hover{
      color: #FF7500;
  }
  


@media screen and (max-width:660px) {
    .menubar{
        position: absolute;
        padding-left: 85%;
    }
}
@media screen and (max-width:460px) {
    .menubar {
        position: absolute;
        padding-left: 75%;
    }
}
@media screen and (max-width:360px) {
    #para_img{
width: 360px;
    }
}
@media screen and (max-width:321px) {
    #para_img {
        width: 360px;
    }
}
.heritage{
    padding-top: 50px;
    margin-bottom: 100px;
    position: relative;
}
.heritage_img{
    width: 100%;
}
.heritage_head{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 131.5%;
/* identical to box height, or 66px */

text-align: center;

color: #F58220;
}
.heritage_subhead{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    /* identical to box height */
    
    text-transform: uppercase;
    text-align: center;
    color: #20C2F5;
     
}
.heritage_back{
    background: #FFFFFF;
box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(60px);
/* Note: backdrop-filter has minimal browser support */
padding-top: 25px;
padding-bottom: 25px;
border-radius: 51px;
top: 60%;
position: absolute;
}
.heritage_back:hover{
    box-shadow: 0px 5px 50px #F58220;
backdrop-filter: blur(60px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 51px;
}
@media screen and (max-width: 1024px) {
    .heritage_back{
        position: absolute;
        /* top: 30%; */
        
    }
    .heritage_head{
font-size: 18px;
    }
    .heritage_subhead{
font-size: 18px;
    }
}
.initiative_head{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 56px;
/* identical to box height, or 112% */



color: #FF7500;

mix-blend-mode: normal;
}

/* #kargil_back{
    display: inline;
}
 #kargil_back1{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
 font-size: 25px;
line-height: 30px;



 color: #001F7E;
width: 50%;
mix-blend-mode: normal;
} 
#kargil_back1_sub{
    padding-top: 30%;
}
.kargil_back3{
    background: #FFFFFF;


box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
border-radius: 20px;
padding-left: 10px;
padding-right: 10px;
width: 80%;
}
.card1{
    width: 80%;
} */
.initiative_element_box{
    background: #FFFFFF;
/* drop shadow */

box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
border-radius: 20px;
display: flex;
}
.initiative_element_text{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
/* or 160% */


color: #001F7E;
width: 100%;
mix-blend-mode: normal;
}
.initiative_element_text1{
    width: 100%;
}
@media screen and (max-width:1000px) {
    .initiative_box{
        display: flex;
        justify-content: center;
    }
    
}
.initiative_element_img{
    width: 100%;
    height: 100%;
}
.initiative_element_img1{
    width: 100%;
}
.initiative_element_box:hover{
    box-shadow: 1px 2px 50px rgba(59, 113, 255, 0.4);
}
@media screen and (max-width:992px) {
    .initiative_element_box{
        display: flex;
        justify-content: center;
    }
}
.magzine_box{
    background: #FFFFFF;
box-shadow: 0px 0px 47.25px -18px rgba(0, 0, 0, 0.15);
border-radius: 33.75px;
}
.magzine_book{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.magzine_book1{
    width: 100%;
}
@media screen and (max-width:770px) {
    .latest_edition{
        display: flex;
        justify-content: center;
    }
}

.cultural{
    background: rgba(32, 194, 245, 0.8);
border-radius: 0px;

}

@media screen and (max-width: 770px) {
    .cultural_img{
        display: flex;
        justify-content: center;
    }
    .cultural_box{
        display: flex;
        justify-content: center; 
    }
}
.events{
    background: #FFFFFF;
box-shadow: 0px 0px 47.25px -18px rgba(0, 0, 0, 0.15);
border-radius: 33.75px;
padding-top: 25px;
padding-bottom: 25px;
}
.events_img{
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.events_img1{
    width: 100%;
}
@media screen and (max-width:580px) {
    .events_img{
        display: flex;
        justify-content: center;
    }
}



.head_team_member{
    
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 56px;
/* identical to box height, or 187% */

text-align: center;

color: #000000;
}
.incharge{
    background: #FFFFFF;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.incharge:hover {
    box-shadow: none;
}
.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
   
  }

 #sections_col{
   background-color: #2D0808;
   height: 300px;
   border: 1px solid #fff;
 }
 #sections_col:hover{
     transform: scale(1.3);
     z-index: 1000;
 }
