.container1{
    width: auto;
    background: #FFFFFF;
    height: 142px;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); 
}
#logo_mnit{
    width: 82px;
    height: 82px;

}
#logo_ti{
    width: 74px; 
    height: 84px;
  
}
#heading1{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 31px;
/* identical to box height */

text-transform: uppercase;
color: #F58220;
}
#heading2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    /* identical to box height */
    
    text-transform: uppercase;
    color: #F58220;
}
.heading_2{
    
}
.background_img2{
    display: inline;
}
#heading_3{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 131.5%;
/* identical to box height, or 66px */

text-align: center;

color: #F58220;
width: 758px;
height: 66px;
}
#img_back1{
    width: 100%;
}
.icons{
   margin-left: 10px;
   margin-right: 10px;
 
}
 .center{
    padding-top: 15px;
  
 }
 .para_about{
     padding-top: 50px;
 }
 .para{
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(74, 74, 74, 0.15);
    border-radius: 23px;
    padding:10px 20px;
    
 }
 #para1{
     padding: 25px 25px;
 }
 #para_img{
    width: 408px;
    height: 322px;
    
    padding-top: 25px;
 }
 #announcement1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 131.5%;
    /* identical to box height, or 46px */
    
    text-align: center;
    
    color: #F58220;
 }
 #announcement2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 131.5%;
    /* identical to box height, or 46px */
    
    text-align: center;
    
    color: #F58220;
 }
 .vl {
    border-left: 2px solid #FFFFFF;
    height: 300px;
    text-align: right;
  }
  .person_timj{
  position: relative;
  }
  .person{
 position: absolute;
  }
  .parent-img{
    position: relative;
}
#container {
    position:relative;
}

#img2 {
    position: absolute;

    top: 30%;
   
}
#person_text{
    top: 60%;
}
